.PostCard{
    height: 280px;
    width: 280px;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.PostCard .Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.PostCard .Top div {
    text-align: end;
}

.PostCard .Top h3 {
    color: black;
    font-weight: bold;
}

.PostCard .Top div h3 {
    font-size: 0.7rem;
    font-weight: bold;
    color: #1e1e1e;
}

.PostCard .Top div h2 {
    color: #828282;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: end;
}

.PostCard .Top div span
{
    color: black;
    
}

.PostCard h1{
    text-align: center;
    max-width: 90%;
    font-size: 0.8rem;
    margin: 0 auto;
    color: #fb6b11;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1rem;
}

.TitleArea{
    height: 50px;
}

#autor
{
    font-size: 0.8rem;
    text-align: center;
    color: #828282;
}

#autor span
{
    color: black;
    font-weight: bold;
}

.PostCard p{
    text-align: justify;
    min-height: 140px;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
}

.PostCard .CardActions
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.PostCard .CardActions div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardActions div button{
    margin-left: 10px;
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease;
    height: 30px;
    width: 30px;
    transition: 0.3s ease;
}

.CardActions div button:hover{
    background-color: #cacaca;
}



.PostCard .CardActions a
{
    width: 24px;
    height: 24px;
    padding: 5px;
    display: flex;
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.PostCard .CardActions a:hover
{
    background-color: #cacaca;
}

.PostCard .CardActions #linkIcon
{
    font-size: 1.2rem;
    color: #22272c;
}