.PostCard{
    height: 280px;
    width: 280px;
    background-color: #384147;
    padding: 10px;
    border-radius: 2%;
    margin: 10px;
}

.PostCard .Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.PostCard .Top div {
    text-align: end;
}

.PostCard .Top h3 {
    color: white;
    font-weight: bold;
}

.PostCard .Top div h3 {
    font-size: 0.6rem;
    font-weight: normal;
}

.PostCard .Top div h2 {
    color: white;
    font-size: 0.8rem;
}

.PostCard .Top div span
{
    color: #BBF247;
}

.PostCard h1{
    text-align: center;
    max-width: 90%;
    font-size: 0.8rem;
    margin: 0 auto;
    color: #BBF247;
    font-weight: bold;
    margin-bottom: 10px;
}

.TitleArea{
    height: 70px;
}

#autor
{
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

#autor span
{
    color: white;
    font-weight: bold;
}

.PostCard p{
    text-align: justify;
    min-height: 128px;
    color: white;
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1rem;
}

.PostCard .CardActions
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.PostCard .CardActions div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardActions div button{
    margin-right: 10px;
    border: none;
    background-color: #BBF247;
    padding: 5px;
    border-radius: 50px;
    transition: 0.3s ease;
    height: 30px;
    width: 30px;
    transition: 0.3s ease;
}

.CardActions div button:hover{
    background-color: #9fd130;
}



.PostCard .CardActions a
{
    width: 24px;
    height: 24px;
    padding: 5px;
    display: flex;
    border: none;
    background-color: #BBF247;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.3s ease;
}

.PostCard .CardActions a:hover
{
    background-color: #9fd130;
}

.PostCard .CardActions #linkIcon
{
    font-size: 1.2rem;
    color: #22272c;
}