.SearchBar form
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.SearchBar .search
{
    margin-left: 20px;
    height: 32px;
    width: 242px;
    border: 2px solid #BBF247;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: white;
}


.SearchBar .search input
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    padding: 0px 10px;
}

.SearchBar .search input:focus
{
    outline: none;
}

.SearchBar .search button
{
    height: 32px;
    width: 40px;
    border: none;
    border-radius: 15px;
    background-color: #BBF247;
    transform: translateX(1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchBar .search button:focus
{
    outline: none;
}

.SearchBar .search button #search_icon
{
    font-weight: bold;
    font-size: 1.8em;
    color: #2D3338;
}