.Contact{
    padding: 5px 20px;
}

.Contact h2{
    color: #BBF247;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.Contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Contact form input{
    width: 350px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border: none;
    border: 2px solid #BBF247;
    margin-bottom: 30px;
    padding: 1px 10px;
}

.Contact form textarea{
    padding: 4px 10px;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #BBF247;
    margin-bottom: 40px;
    resize: none;
}

.Contact form:last-child{
    margin-bottom: 30px;
}

.Contact .Buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Contact .Buttons button{
    width: 150px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    background-color: #BBF247;
    transition: 0.2s ease;
    font-weight: bold;
    color: #2D3338;
}

.Contact .CancelButton{
    background-color: #A7B884;
    transition: 0.2s ease;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contact .CancelButton:hover{
    background-color: #78845f;
}

.Contact .Buttons button:hover{
    background-color: #9fd130;
}




