.SearchBar form
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SearchBar input
{
    margin-left: 20px;
    height: 32px;
    width: 242px;
    border: 2px solid #BBF247;
    border-radius: 15px;
    padding: 0px 10px;
}

.SearchBar input::placeholder
{
    color: #8B8B8B;
}