.SearchBar label
{
    color: #A1A1A5;
}

.SearchBar .Filters
{
    margin-left: 10px;
    height: 30px;
    width: 100px;
    border: 2px solid #BBF247;
    border-radius: 15px;
    padding: 0px 10px;
    background-color: #8B8B8B;
    color: white;
}

.SearchBar .Filters option
{
    font-size: 1.2em;
    width: 100px;
    font-family: 'Merriweather Sans';
}


.SearchBar input
{
    margin-left: 20px;
    height: 32px;
    width: 242px;
    border: 2px solid #BBF247;
    border-radius: 15px;
    padding: 0px 10px;
}

.SearchBar input::placeholder
{
    color: #8B8B8B;
}