.Login{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login h1{
    text-align: center;
    color: #fb6b11;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.Login form{
    border: none;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Login form input{
    width: 100%;
    height: 36px;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    padding: 0px 10px;
    box-sizing: border-box;
}

.Login button{
    width: 150px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    background-color: #fb6b11;
    transition: 0.2s ease;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.Login button:hover{
    background-color: #cf5508;
}

form .LoginArea h2{
    color: #8B8B8B;
    font-weight: bold;
    margin-bottom: 10px;
}

form .LoginArea .Link{
    text-decoration: none;
    color: #fb6b11;
    transition: 0.2s ease;
}

form .LoginArea .Link:hover{
    color: #cf5508;
}

