nav
{
    height: 3.4em;
    background-color: #f9f9f9;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Links ul {
    display: flex;
    flex-direction: row;
    color: #3c3c3c;
    align-items: center;
}

.Links .link{
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2rem;
    transition: 0.2s ease-in;
    cursor: pointer;
    color: #3c3c3c;
}

.Links .link:hover{
    color: #fb6b11;
}

.Links button
{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: #444B4D;
    border: 3px solid #BBF247;
    transition: 0.3s ease-in;
}

.Links .li{
    font-size: 1.0rem;
}

.Links button:hover
{
    background-color: #22272C;
}

.Links button #user_icon
{
    color: white;
    font-size: 1.25em;
}

.Links div{
    background-color: #719c13;
    height: 40px;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s ease;
    padding: 0px 10px;
}

.Links div:hover{
    background-color: #567710;
    
}

.Links div .link{
    color: #fb6b11;
    margin: 0 auto;
}

.MenuLateral {
    display: none;
    color: #fb6b11;
    font-size: 2em;
    cursor: pointer;
    margin-right: 1em;
}


@media (max-width: 900px) {

    .Links {
        flex-direction: column;
        display: none;
        position: absolute;
        border: 1px solid white;
        background-color: white;
        width: 100%;
        right: 0;
        top: 4.5em;
        z-index: 1;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .Links ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .link {
        padding-top:20px;
        padding-bottom: 20px;
        height: 80%;
        width: 100%;
    }

    .link:hover { 
        border: none;
    }


    .MenuLateral {
        display: block;
    }


}

#loginLink{
    color: #3c3c3c;
    font-weight: bold;
    padding: 5px 15px;
    border: 2px solid #5a5a5a;
}
