.NavBar
{
    background-color: #384147;;
    height: 36px;
    padding: 12px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}