.Footer{
    background-color: white;
    padding-bottom: 30px;
    margin-top: 20px;
}

footer{
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.FAbout, .FAutors, .FSocial{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.FAbout div
{
    display: flex;
    align-items: center;
    flex-direction: row;
}



.Title{
    color: #fb6b11;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    width: 140px;
    text-align: center;
    font-weight: 600;
    text-align: center;
}

.Title h1{
    text-align: center;
}

.FSocial li{
    display: flex;
    align-items: center;
}

.IconConteiner{
    height: 26px;
    width: 26px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 100%;
}

footer h2, li{
    color: black;
    margin-bottom: 10px;
}

.SocialIcon{
    color: #fb6b11;
}

.Footer h3{
    color: black;
    text-align: center;
    font-weight: bold;
}