.Footer{
    background-color: #384147;
    padding-bottom: 30px;
}

footer{
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FAbout, .FAutors, .FSocial{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
}
.FAbout div
{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.FAbout div img{
    height: 20px;
    margin-right: 3px;
}

.Title{
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border-bottom: 2px solid #BBF247;
    padding-bottom: 10px;
    width: 140px;
    text-align: center;
}

.FSocial li{
    display: flex;
    align-items: center;
}

.IconConteiner{
    height: 26px;
    width: 26px;
    background-color: #BBF247;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 100%;
}

footer h2, li{
    color: #B5B5B5;
    margin-bottom: 10px;
}

.SocialIcon{
    color: #22272c;
}

.Footer h3{
    color: white;
    text-align: center;
}