.UserMenu{
    width: 36px;
    height: 36px;
    background-color: #444B4D;
    border: 3px solid #BBF247;
    border-radius: 100%;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.UserMenu:hover{
    background-color: #778276;
}

.UserMenu #userIcon
{
    color: white;
    font-size: 1.6rem;
}

.UserMenu .Window
{
    height: 300px;
    width: 300px;
    background-color: #384147;
    float: outside;
}