.SearchForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    margin-bottom: 20px;

}

.SearchForm label
{
    color: #A1A1A5;
    font-size: 1.2rem;
}

.SearchForm select{
    margin-left: 10px;
    height: 30px;
    width: 140px;
    border: 2px solid #3c3c3c;
    border-radius: 0px;
    padding: 0px 10px;
    background-color: #8B8B8B;
    color: white;
}

.SearchForm select:focus
{
    outline: none;
}

.SearchForm select option
{
    font-size: 1.2rem;
    width: 100px;
    font-family: 'Merriweather Sans';
}

.SeachInput{
    width: 300px;
    height: 30px;
    background-color: white;
    
    border-radius: 0px;
    border: 2px solid #5a5a5a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.SeachInput input
{
    width: 90%;
    height: 90%;
    border: none;
    padding: 0px 10px;
    border-radius: 15px;
}

.SeachInput input:focus
{
    outline: none;
}

.SeachInput button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    transform: translateX(0.5px);
}

.SeachInput button:hover{
    background-color: #cacaca; 
}

#seachIcon{
    font-size: 1.2rem;
    color: #22272c;
}

