.popup-box {
    position: fixed;
    background: #00000090;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #cf5508;
    border-radius: 4px;
    padding: 20px;
    overflow: auto;
    
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(25% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    border: none;
    font-size: 20px;
}