.Posts{
    padding: 5px 20px;
}

.Posts h2
{
    color: #BBF247;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.Posts .CardsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.PagesCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;

    margin-bottom: 30px;
}

.PagesCount span {
    margin: 2px;
}


#PrevNextIcons{
    color: #BBF247;
    transition: 0.2s ease;
    font-size: 1.9rem;
}

.PagesCount button{
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444B4D;
    margin-left: 10px;
    margin-right: 10px;
    transition: 200ms ease-in;

}

.PagesCount button:hover{
    border: 2px solid #BBF247;
}

.PagesCount button:active{
    background-color: #22272c;
}


#returnToStartPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

#returnToStartPage button{
    border-radius: 20px;
    border: none;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444B4D;
    margin-left: 10px;
    margin-right: 10px;
    transition: 200ms ease-in;
    color:  #BBF247;
    transition: 0.2s ease;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#returnToStartPage button:hover{
    border: 2px solid #BBF247;
}
