.UserPage{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.UserPage #userImg{
    color: black;
    font-size: 3rem;
    margin-bottom: 15px;
}

.UserPage #title{

    color: #fb6b11;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.UserPage #title span{
    color: #838383;
}

.UserPage .otherInfo{
    display: flex;
    flex-direction: row;
    border: 1px solid #fb6b11;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: black;
    margin-bottom: 30px;
}

.UserPage .otherInfo h2{
    color: black;
    font-size: 0.9rem;
    margin: 0px 10px;
}


.UserPage .Posts h1{
    color: #fb6b11;
    text-align: center;
}

#TitlePost{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;   
}

.UserPage .UserPosts .CardsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

