.Card
{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: #384147;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.Card .Top
{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.Card .Top h3
{
    font-size: 0.8em;
    color: white;
}

.Card .Top .DateTimeUser h4
{
    color: white;
    font-size: 0.6em;
}

.Card .Top .DateTimeUser span
{
    color: white;
    font-size: 0.8em;
    
}
.Card .Top .DateTimeUser h3
{
    font-size: 0.8em;
    color: #BBF247;
    margin-left: 3px;
}

.Card .DateTimeUser 
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Card .DateTimeUser div
{
    display: flex;
    flex-direction: row;
}

.Card .Content
{
    height: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Card .Content h2
{
    font-size: 0.7em;
    text-align: center;
    min-height: 30%;
}

.Card .Content p
{
    font-size: 0.8em;
    color: white;
    text-align: justify;
    min-height: 115px;
    font-weight: bold;
}

.Card .OpenPost
{
   display: flex;
   flex-direction: row;
   justify-content: end; 
   width: 100%;
}

.Card .OpenPost a
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background-color: #BBF247;
    border-radius: 50px;
    color: #384147;
}