.About {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.About .Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
} 



.About .Logo h1{
    font-size: 2rem;
    color: #fb6b11;
    font-weight: bold;
}

.About .Logo img{
    height: 100px;
    width: 100px;
}

.About p{
    max-width: 70%;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: justify;
    color: rgb(94, 94, 94);
    font-weight: 500;

}

.About span{
    color: #fb6b11;
    font-weight: bold;
    display: inline-block;
}